<!DOCTYPE html>
<html>
  <head>
    <title> Collage Generator </title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    <script src="https://unpkg.com/@panzoom/panzoom@4.6.0/dist/panzoom.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  </head>
  <body>
    <div class ="container my-5">
        <div class="text-center"><h1>Collage Generator</h1></div>

        <div class="row">
          <div class="col-lg-12 text-center w-50 mx-auto">
            <p> Select or drag and drop an image onto the form to turn it into a collage! You can view the generated image in more detail by zooming in and dragging! The lower the resolution the finer the detail. For example a resolution of 10 would be 1 picture per 10x10 of pixels in the input image.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 mx-auto mt-5">
            <form action="/" method="post" enctype="multipart/form-data" id="uploadForm">
              <div class="mb-3">
                <label for="file" class="form-label"> Input Image: </label>
                <input type="file" class="form-control" name="file" accept="image/*" required>
              </div>

              <div class="mb-3">
                <label for="resolution" class="form-label"> Resolution: </label>
                <input type="number" value ="10" class="form-control" id="resolution" name="resolution" required>
              </div>

              <div class="text-center"><button type="submit" class="btn btn-primary mx-auto">Create</button><div>
            </form>
          </div>
        </div>

        <div class="row"><div class="col-lg-6 mx-auto  mt-5 text-center" id="loadingGif"></div></div>
        
        {% if uploaded_image %}
          <div class="row mt-5">
            <div class="col-lg-12 text-center">
              <h2>Original Image</h2>
              <img src="{{ uploaded_image }}" alt="Uploaded image" width="300">
            </div>
          </div>
        {% endif %}

        {% if processed_image %}
          <div class="row my-5">
            <div class="col-lg-12 text-center">

              <h2>Generated Collage</h2>
              <div id="image-container" style="overflow: hidden; border: 1px solid #ccc;">   
                  <img id="zoomable-image" src="{{ processed_image }}" style="width: 100%; height: auto; display: block;">
              </div>

            </div>
          </div>
        {% endif %}
    </div>

    <script>
      const f = document.getElementById('uploadForm')
      var d = document.getElementById('loadingGif')

      f.addEventListener('submit', function(event) {
        d.innerHTML = '<h3> Generating... </h3> <img src="static/images/loading.gif" width="180" />';
        
      })

      const doneLoading = "{{ done_loading }}";
      if(doneLoading){
        d.innerHTML = "";
      }
    </script>

    <script>
        const element = document.getElementById('zoomable-image');
        const panzoom = Panzoom(element, {
            maxScale: 100,
            minScale: 1,
            contain: 'outside'
        });

        // Enable mouse wheel zooming
        element.parentElement.addEventListener('wheel', panzoom.zoomWithWheel);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
